:root {
  --lime: #b0e600;
  --navy: #134e6f;
  --watermelon: #FF7566;
  --ocean: #15999E;
  --aqua: #72dce0;
  --fog: #dee0e6;
  --cement: #c5c8d3;

}

body {
  font-family: 'Poppins', 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1; 
  
}

/* Header */

.jumbotron {
  text-align: center;
  background-color: var(--aqua);
  color: var(--navy);
  border-radius: 0;
  font-family: 'Poppins', 'Open Sans', Arial, Helvetica, sans-serif;
}

.display-3 {
  font-weight: 600;
  color: white;
  font-size: 5rem;

}

.lead {
  font-weight: 300;
  margin-top: 1.5rem;
}

#currentDay {
  font-weight: 600;
  margin-top: 2.5rem;
  font-size: 2rem;
}

/* saved notification */

.notification {
  display: none;
  margin: 40px 0;
  color: var(--ocean);
  font-weight: 500;
}

.isVisible {
  display: initial;
}

/* Schedule table */

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: var(--navy);
  border-top: 1px solid var(--fog);
  margin: 0 auto;
  padding-top: 30px;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: var(--navy);
  border-left: 1px solid white;
  padding: 10px;
}

/* Time Block Coloring */

.past {
  background-color: var(--fog);
  color: white;
}

.present {
  background-color: var(--watermelon);
  color: white;
}

.future {
  background-color: var(--lime);
  color: white;
}

/* Button */

.saveBtn {
  border-left: 1px solid white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: var(--ocean);
  color: white;
}

.saveBtn:hover {
  color: var(--lime);
}


